@charset "UTF-8";

body{

background-color: indianred;

}

table.type01 {
	border: 1px;
    border-collapse: collapse;
    text-align: left;
	background:rgb(100, 100, 100) ;
	line-height: 1.5;
    margin : 20px 10px;
}
table.type01 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
}
table.type01 td {
	width: 350px;
	height: 150px;
	text-align: center;
     padding: 5% 0; 
    vertical-align: middle;
    border: 1px solid #ccc;
}